# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Packaging
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
ENV/
*.conda
*.env
*.local

# OS
.DS_Store

# Others
eph/
visibility/
fig/